<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/market"></ion-back-button>
    </ion-buttons>
    <ion-title>Product Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="loading">Loading...</div>
  <div *ngIf="!loading && product">
    <h2>{{ product.name }}</h2>
    <p>Symbol: {{ product.symbol }}</p>
    <p *ngIf="product.description">{{ product.description }}</p>
    <p>
      Price:
      <span [style.color]="getPriceColor()">
        {{ priceTick?.price | number:'1.2-2' }}
      </span>
    </p>
    <form (ngSubmit)="buy()">
      <ion-item>
        <ion-label position="floating">Quantity</ion-label>
        <ion-input type="number" [(ngModel)]="quantity" name="quantity" min="1" (ngModelChange)="onQuantityChange($event)"></ion-input>
      </ion-item>
      <div style="margin-top: 1em;">
        <strong>Total:</strong>
        {{ (priceTick?.price || price || 0) * validQuantity | number:'1.2-2' }}
      </div>
      <ion-button expand="block" type="submit" [disabled]="!validQuantity">Buy</ion-button>
    </form>
  </div>
</ion-content>
