<ion-header>
  <ion-toolbar>
    <ion-title>Deposit Funds</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding deposit-content">
  <div class="deposit-container">
    <div class="deposit-wallet-label">Current Wallet Balance:</div>
    <div class="deposit-wallet-value" [ngClass]="{'wallet-negative': cashBalance < 0, 'wallet-positive': cashBalance >= 0}">
      ${{ cashBalance | number:'1.2-2' }}
    </div>
    <ion-item class="deposit-item">
      <ion-label position="floating">Deposit Amount</ion-label>
      <ion-input type="number" [(ngModel)]="depositAmount" min="1" name="depositAmount" placeholder="50"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="deposit()" [disabled]="!depositAmount || depositAmount <= 0" class="deposit-btn">Deposit</ion-button>
  </div>
</ion-content> 